<div class="container">

   <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
         <div class="title">register</div>
         <div class="subtitle">
            Please enter your login and new password
         </div>
         <div class="form-input">
            <div class="input">
               <label >
                  <input formControlName="email" type="text"  ><br>
                  <div *ngIf="form.get('email')?.getError('required') && form.get('email')?.touched" class="er">Fild is required!</div>
                  <div *ngIf="form.get('email')?.getError('email') && form.get('email')?.touched" class="er">Invalid Email </div>
                  Email
               </label>
               <label >
                  <input formControlName="password" type="text"><br>
                  <div *ngIf="form.get('password')?.getError('required') && form.get('password')?.touched" class="er">Fild is required</div>
                  <div *ngIf="form.get('password')?.getError('minlength') && form.get('password')?.touched" class="er">The minimum symbols shod be 8 </div>
                  Password
               </label>
               <div class="submit">
                  <input [disabled]="form.invalid" type="submit" value="register">
               </div>
               <div class="succes-message" *ngIf="succesMessage">{{succesMessage}} <img  style="height: 20px;" src="assets/R.gif" alt=""></div>
               <div class="register">
                  Are you already have an account? <a (click)="goRegister()" > Log In</a>
               </div>
            </div>
         </div>

      </form>
   </div>

</div>