<div class="wrapper">
   <mat-toolbar class="header" color="primary">
      <mat-toolbar-row class="mat-toolbar-row">
         <form class="example-form">
               <mat-icon style="cursor: pointer;" class="example-icon1">search</mat-icon>
               <input (input)="searchItems(searchValue)" [ngModelOptions]="{ standalone: true }" [(ngModel)]="searchValue"
               placeholder="Search">
            </form>
         <div>
            <button *ngIf="!flag" (click)="sortDate()" class="btn" mat-fab color="primary">
               <mat-icon>filter_alt</mat-icon>
            </button>
            <button *ngIf="flag" (click)="sortDateLess()" class="btn" mat-fab color="primary">
               <mat-icon>filter_alt_off</mat-icon>
            </button>
            <span class="sort">Sort Date</span>  
         </div>
         <div>
            <button *ngIf="flagR" (click)="sortRating()" class="btn" mat-fab color="primary">
               <mat-icon>arrow_downward</mat-icon>
            </button>
            <button *ngIf="!flagR" (click)="sortRatingLess()" class="btn" mat-fab color="primary">
               <mat-icon>arrow_upward</mat-icon>
            </button>
            <span class="sort"> Sort Rating</span>
         </div>
         <span *ngIf="currentUser && userServ.isAuth">
            Welcome : {{currentUser}}
            <button (click)="logOut()" mat-raised-button color="primary">Log Out</button>
         </span>
      </mat-toolbar-row>
   </mat-toolbar>

   <div class="container" *ngIf="cinemaData && cinemaData.results">

      <div class="box" *ngFor="let cinema of cinemaData.results">
         <mat-icon (click)="addToBasket(cinema, $event)" style="cursor: pointer;"
            class="example-icon">bookmark_add</mat-icon>
         <div class="title">
            {{cinema.title}}
         </div>
         <div class="flex">
            <div class="relise">
               {{cinema.release_date}}
            </div>
            <div class="vote-average">
               <mat-icon style="cursor: pointer;">star</mat-icon>
               {{cinema.vote_average}}
            </div>
         </div>
         <div class="img">
            <img [routerLink]="['/cinema', cinema.id]" src="{{'https://image.tmdb.org/t/p/w500/' + cinema.poster_path}}"
               alt="">  
         </div>
         <div class="btn-info">
            <mat-icon style="cursor: pointer;" [routerLink]="['/cinema', cinema.id]">info</mat-icon>
         </div>
      </div>
   </div>
   <div class="message-error">{{messageError}}</div>
   <div *ngIf="!cinemaData"> Loading... </div>
</div>