<mat-toolbar class="header" color="primary">
   <mat-toolbar-row>
      <button routerLink="/" class="btn" mat-fab color="primary">
         <mat-icon >home</mat-icon>
       </button>
     <span class="name" routerLink="/" style="cursor: pointer;">The Best Online Cinema</span>
     <span class="example-spacer"></span>
     <button routerLink="/" mat-button color="warm">Home</button>
     <button routerLink="/cinema" mat-button color="warm">Cinema</button>
     <button routerLink="/admin" mat-button color="warm">Admin</button>
     <button  routerLink="/login" mat-button color="warm">Log In</button>
     <mat-icon  style="cursor: pointer;" class="example-icon"  (click)="openDialog()">bookmark</mat-icon>
   </mat-toolbar-row>
 </mat-toolbar>
 